html,
body {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 15px;
  line-height: 1.64;
  height: 100%;
}

nav,
header,
main,
aside,
footer {
  margin: 0;
}

h1 {
  font-size: 5.625rem;
  margin-bottom: 10px;
  color: #66bfbf;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

a {
  color: #11999e;
}

hr {
  margin: auto;
  border-color: #727878;
  opacity: 0.2;
  filter: alpha(opacity=20);
  width: 50%;
}

nav {
  grid-area: nav;
  background-color: #e7e6e1;
}

header {
  grid-area: header;
  background-color: #f7f6e7;
}

main {
  grid-area: dip;
  background-color: #f2a154;
}

aside {
  grid-area: comp;
  background-color: #f2a154;
}

footer {
  grid-area: footer;
  background-color: #e7e6e1;
}

/* Table Styling */
.tables {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tables td,
.customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tables tr:nth-child(even) {
  background-color: #e7e6e1;
}

.tables tr:hover {
  background-color: #f7f6e7;
}

.tables th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #314e52;
  color: white;
}

/* Class selectors */

.grid-page {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px;
  grid-template-rows: 60px 1fr 1fr 1.5fr 150px;
  height: 1800px;
  grid-template-areas:
    ". nav nav ."
    ". header h-img ."
    ". dip comp ."
    ". proj proj ."
    ". footer footer .";
}

.header-img {
  grid-area: h-img;
  background-color: #f7f6e7;
}

.pasfoto {
  align-self: flex-start;
  border-radius: 5%;
}

.projects {
  grid-area: proj;
  background-color: #314e52;
}

.proj-content {
  height: 300px;
  width: 400px;
}

.proj-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 50px;
  text-align: left;
  color: #f7f6e7;
}

.proj-container h4 {
  text-align: center;
}

.navigation ul {
  list-style-type: none;
  position: absolute;
  top: 5px;
  right: 120px;
  margin: 0 0 10 0;
  padding: 0;
}

.navigation li {
  display: inline;
}

.navigation a:hover {
  color: rgb(78, 218, 243);
}

.footer-link ul {
  list-style-type: none;
  margin: 0 0 10 0;
  padding: 0;
}

.footer-link li {
  display: inline;
}

.footer-link a:hover {
  color: rgb(78, 218, 243);
}

#copyright {
  color: grey;
}

/* Media Selectors */

@media (max-width: 820px) {
  html,
  body {
    margin: 0px 5px 0px 5px;
  }

  .grid-page {
    grid-template-columns: 100%;
    grid-template-rows: 60px 1fr 1fr 1fr 1fr 1500px 150px;
    grid-template-areas:
      "nav"
      "header"
      "h-img"
      "dip"
      "comp"
      "proj"
      "footer";
  }

  .proj-content {
    height: 470px;
    width: 400px;
  }

  .proj-container {
    justify-content: center;
    padding-top: 50px;
    text-align: left;
    color: #f7f6e7;
  }
}
